#java {
  display: none;
}
#ruby {
  display: none;
}
#csharp {
  display: none;
}
#php {
  display: none;
}
#javaruby {
  display: none;
}
#rubyphp {
  display: none;
}
#phpcsharp {
  display: none;
}

p {
  font-size: 14px;
}
